*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
   background:url('https://media.giphy.com/media/XreQmk7ETCak0/giphy.gif') no-repeat;
   background-size:cover;
   align-items: center;
   justify-content: center;
  }